h2{color: blue;
}
body{color: aqua;
}
#ema1{border-width: 10px;
       border-color: black;
       border-style: solid;
}
#ema1{margin-left: 50%;
}
body{background-color: brown;
}
#ema1{width: 1%;}
img{width: 40%;}

